- from './pages/add-team/mixins.jade' import textInput, title

div.row.bg-white
    div.column.small-2
        label.text-center(for="practiceLocation.name")
            +title("Name")
    div.column.small-4
        div
            +textInput("practiceLocation.name")

    div.column.small-2
        label.text-center(for="practiceLocation.address")
            +title("Address")

    div.column.small-4
        div
            +textInput("practiceLocation.address")

div.spacer-md

div.row.bg-white
    div.column.small-2
        label.text-center(for="practiceLocation.city")
            +title("City")

    div.column.small-4
        div
            +textInput("practiceLocation.city")

    div.column.small-2
        label.text-center(for="practiceLocation.region")
            +title("Region")

    div.column.small-4
        div
            +textInput("practiceLocation.region")

div.spacer-md

div.row

    div.column.small-2
        label.text-center(for="practiceLocation.zip")
            +title("Postal Code")

    div.column.small-2
        div
            +textInput("practiceLocation.zip")

    div.column.small-2.small-offset-2
        label.text-center(for="practiceLocation.country")
            +title("Country")

    div.column.small-4
        div
            +textInput("practiceLocation.country")

div.spacer-lg

include pages/add-team/practices/times/index

div.spacer-lg