- from './pages/add-team/mixins.jade' import textInput, label

div.row
    - set model = "practiceLocation.name"
    - set uid = "[[" + model + " + index ]]"
    div.column.small-2
        +label("Name", uid)
    div.column.small-4
        +textInput(model, uid)

    - set model = "practiceLocation.address"
    - set uid = "[[" + model + " + index ]]"
    div.column.small-2
        +label("Address", uid)
    div.column.small-4
        +textInput(model, uid)

div.spacer-md

div.row
    - set model = "practiceLocation.city"
    - set uid = "[[" + model + " + index ]]"
    div.column.small-2
        +label("City", uid)
    div.column.small-4
        +textInput(model, uid)

    - set model = "practiceLocation.region"
    - set uid = "[[" + model + " + index ]]"
    div.column.small-2
        +label("Region", uid)
    div.column.small-4
        +textInput(model, uid)

div.spacer-md

div.row
    - set model = "practiceLocation.zip"
    - set uid = "[[" + model + " + index ]]"
    div.column.small-2
        +label("Postal Code", uid)
    div.column.small-2
        +textInput(model, uid)

    - set model = "practiceLocation.country"
    - set uid = "[[" + model + " + index ]]"
    div.column.small-2.small-offset-2
        +label("Country", uid)
    div.column.small-4
        +textInput(model, uid)

div.spacer-lg

include pages/add-team/practices/times/index

div.spacer-lg