- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn
- from './mixins/squareCounter.jade' import squareCounter

+titleBanner(11)
    div.text-sm Practice Locations

+mainColumn()
    div.row
        div.column.small-12
            div.row.uncollapse(ng-repeat="(index, practiceLocation) in form.practiceLocations.all")
                div.column.small-12
                    div.spacer-xl

                div.column.small-11
                    include pages/add-team/practices/content

                div.column.small-1.bg-red.round-md-right(
                    ng-click="form.practiceLocations.remove(index)"
                )
                    div.text-xxs.text-center
                        div.spacer-xl
                        div.spacer-lg
                        div.spacer-xxs
                        div.spacer-1
                        div
                            i.fa.fa-times.text-white
                        div.spacer-xl
                        div.spacer-lg
                        div.spacer-xxs
                        div.spacer-1

            div.spacer-xl
            div.row.uncollapse
                div.column.small-11
                    div.row.uncollapse
                        div.column.small-5.small-offset-2.left.text-white.round-md.bg-blue(ng-click="form.newPractice()")
                            div.input-height.text-xxs.column.small-10.small-centered.text-left
                                div.pull-left
                                    div.spacer-xs
                                    div.spacer-1
                                    div Add New Practice Location
                                div.pull-right
                                    div.spacer-xs
                                    div
                                        i.fa.fa-plus
