- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn
- from './mixins/squareCounter.jade' import squareCounter

+titleBanner(11)
    div.text-sm Practice Locations

+mainColumn()
    div.row.uncollapse.double-gutter
        div.column.small-12
            div.row.uncollapse(ng-repeat="(index, practiceLocation) in form.practiceLocations.all")
                div.column.small-12
                    div.spacer-xl

                div.column.small-11
                    include pages/add-team/practices/content

                div.column.small-1.btn-red.round-md-right(
                    ng-click="form.practiceLocations.remove(index)"
                )
                    div.text-xs.text-center
                        div.spacer-xl
                        div.spacer-lg
                        div.spacer-1
                        div
                            i.fa.fa-trash-o.text-white
                        div.spacer-xl
                        div.spacer-lg
                        div.spacer-xxs
                        div.spacer-1

            div.spacer-xl
            div.row.uncollapse
                div.column.small-11
                    div.row
                        div.column.small-5.small-offset-2
                            div.btn-blue.pressable.text-xxs(ng-click="form.newPractice()")
                                div.input-height
                                    div.pull-left
                                        div.spacer-xs
                                        div.spacer-1
                                        div Add New Practice Location
                                    div.pull-right
                                        div.spacer-xs
                                        div
                                            i.fa.fa-plus
