- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn
- from './mixins/squareCounter.jade' import squareCounter

+titleBanner(12)
    div.text-sm Practice Locations

+mainColumn()
    div.row.collapse.double-gutter
        div.column.small-12
            div.row.double-gutter(ng-repeat="(locIndex, practiceLocation) in form.practiceLocations.all")
                div.column.small-12
                    div.spacer-xl

                div.column.small-11
                    include pages/add-team/practices/content

                div.column.small-1.btn-red.round-md-right(
                    ng-click="form.practiceLocations.remove(locIndex)"
                )
                    div.text-xs.text-center
                        div.spacer-xl
                        div.spacer-lg
                        div.spacer-xxs
                        div
                            i.fa.fa-times.text-white
                        div.spacer-xl
                        div.spacer-lg
                        div.spacer-1
                        div.spacer-1

            div.spacer-xl
            div.row.collapse
                div.column.small-10.small-offset-2
                    div.btn-blue.pressable.text-xs(ng-click="form.newPractice()")
                        div.input-height
                            div.spacer-xs
                            div.spacer-1
                            div
                                span Add New Practice Location
                                span &nbsp;&nbsp;&nbsp;&nbsp;
                                i.fa.fa-plus