$sizes: (
    icon: 10px,
    xxxs: 12px,
    xxs: 14px,
    xs: 18px,
    sm: 24px,
    md: 30px,
    lg: 38px,
    xl: 48px
);

@each $key, $size in $sizes {
    html body .text-#{$key} {
        font-size: $size;
        @extend %text;        
    }
}