%text {
    font-weight: 400;
    line-height: 1;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#uwr {
    p {
        margin: 0;
        line-height: 1.25;
        font-size: inherit;
        display: inline;
    }

    .capitalize {
        text-transform: capitalize;
    }

    .text-thin {
        @extend %text;
        font-weight: 200;
    }

    .text-bold {
        @extend %text;
        font-weight: 600;
    }

    .text-xbold {
        @extend %text;
        font-weight: 800;
    }

    .text-hover-underline:hover {
        @extend %text;
        text-decoration: underline;
    }
}

@import "font-size";
@import "text-align";
@import "text-color";