{% extends "layout.jade" %}

{% block body %}

div.row.collapse
    div.column.small-12.small-centered
        div#team.row.uncollapse

            include pages/team/info

            include pages/team/contacts

            include pages/team/locations

            include pages/team/times

            include pages/team/links

div.spacer-lg

div.spacer-xs
{% endblock %}
