- from './mixins/titleBanner.jade' import titleBanner

if team.practice_times
    div.small-6.column
        +titleBanner(10)
            div.text-xs Practice Times
        div.column.small-10.small-centered
            div.text-xxs
                {% for time in team.practice_times %}
                if time.street_address
                    div.spacer-xs
                    div Day: {{time.day}}
                if time.city
                    div.spacer-xs
                    div Start Time: {{time.start_time}}
                if time.region
                    div.spacer-xs
                    div End Time: {{time.end_time}}
                if time.note
                    div.spacer-xs
                    div Notw: {{time.note}}

                {% endfor %}
        div.spacer-xl