- from './mixins/titleBanner.jade' import titleBanner

if team.practice_times
    div.small-6.column
        +titleBanner(10)
            div.text-xs Practice Times
        div.column.small-10.small-centered
            div.text-xxs
                {% for time in team.practice_times %}
                div.spacer-md
                div.text-bold
                    div {{time.day}}

                div.spacer-xxs
                div.spacer-1.bg-gray-dark

                div.spacer-xs
                div.row.uncollapse
                    if time.start_time
                        div.column.small-6
                            span.text-xxs Start Time: {{time.start_time}}&nbsp;&nbsp;&nbsp;&nbsp;
                    if time.end_time
                        div.column.small-6
                            span.text-xxs End Time: {{time.end_time}}

                if time.note
                    div.spacer-xs
                    div Note
                    div &nbsp;&nbsp;&nbsp;&nbsp;{{time.note}}

                {% endfor %}
        div.spacer-xl