{% extends "layout.jade" %}

{% block body %}
div.content
    div.text-block
        div.content-title Page Not Found
        p
            span Go
            a(href="/") home
            span ?
{% endblock %}
