{% extends "layout.jade" %}

{% block body %}
div.content
    div.text-block.text-left
        div.spacer-xl
        div.text-sm
            div.pad-r.valign-top
                div.spacer-xxs
                span Lost?
            a.pad.bg-blue.text-xs(href="/")
                span.text-white Go to Home
        div.spacer-xxl
        div.text-sm Is something wrong?
        div.spacer-xs
        div.text-xs
            span Email 
            a.bg-green.pad(href="mailto:cristina@uwrtourist.org")
                span.text-white cristina@uwrtourist.org

        div.spacer-xxl
{% endblock %}
