%btn {
    @extend .round-md;
    @extend .text-bold;
    color: map-get($bg-colors, "white");
    padding: 0 4rem;

    // Pressable
    border-style: solid;
    border-width: 0 0 4px 0;
    margin-bottom: 0;

    &:active {
        border-bottom-width: 2px;
        margin-bottom: 2px;
    }

}

.btn-blue {
    @extend %btn;
    @extend .bg-blue;
    border-color: map-get($bg-colors, "gray-dark");
}

.btn-gray-dark {
    @extend %btn;
    @extend .bg-gray-dark;
    border-color: #000;
}

.btn-green {
    @extend %btn;
    @extend .bg-green;
    border-color: map-get($bg-colors, "gray-dark");
}