$radius-sizes: (
    none: 0px,
    light: 5px,
    md: 8px,
    full: 10000px,
);

#logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 40px;
    height: 40px;
}

@import "round";
@import "btn";