@import "../../node_modules/foundation-sites/scss/foundation";
@include foundation-everything;

@import "modules/init";
@import "base/init";
@import "components/init";
@import "lib-extend/init";

html {
    font-size: 8px;

    .image-wrapper {
        background-size: cover;
        background-position: center;
    }

    #map {
        height: 500px;
        width: 100%;
    }

    #nav-items {
        margin-left: -10px;
    }

    #team > .column:nth-child(2n + 1) {
        clear: both;
    }

    #uwr .paginate > .column > * {
        padding: 9px;
    }
}