@import "../../node_modules/foundation-sites/scss/foundation";
@include foundation-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-label;
@include foundation-table;

@import "modules/init";
@import "base/init";
@import "components/init";
@import "lib-extend/init";

html {
    font-size: 8px;
}

.image-wrapper {
    background-size: cover;
    background-position: center;
}

#map {
    height: 500px;
    width: 100%;
}

#nav-items {
    margin-left: -10px;
}

#team > .column:nth-child(2n + 1) {
    clear: both;
}

#uwr .paginate > .column > * {
    padding: 9px;
}

#uwr form .ng-dirty {
    background-color: lighten(map-get($bg-colors, "green"), 50%);
}

.current-route {
    @extend .bg-red;
}