@import "../../node_modules/foundation/scss/foundation.scss";
@import "modules/init";
@import "base/init";
@import "components/init";
@import "lib-extend/init";

html {
    font-size: 8px;

    .image-wrapper {
        background-size: cover;
        background-position: center;
    }

    #map {
        height: 500px;
    }
}

// select {
//     -webkit-appearance: none;
// }