@include breakpoint($colors, (background-color, fill), "bg");

@each $key, $color in $colors {
    .bg-hover-#{$key}:hover {
        background-color: $color;
        fill: $color;
    }
}


.fill {
    background-color: transparent;
}