@each $key, $color in $border-colors {
    body .border-#{$key} {
        border-width: 1px;
        border-style: solid;
        border-color: $color
    }

    @each $dirKey, $dirVal in $dirs {
        .border-#{$key}-#{$dirKey} {
            border-width: 0;
            border-#{$dirVal}-width: 1px;
            border-style: solid;
            border-color: $color
        }
    }
}