{% extends "base.jade" %}

{% block css%}
link(
    href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css',
    rel='stylesheet'
)
{% endblock %}

{% block javascript %}
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js")
script(src="/resources/js/controllers/teams.js")
script(src="/resources/js/table.js")
{% endblock %}

{% block body %}
div.row.width-full
    div.column.small-11.small-centered
        div.row
            div.column.small-12
                div(
                    ng-app="ControllerTeams"
                    ng-controller="ControllerTeams"
                    ng-cloak
                )
                    include partials/table

{% endblock %}