- from './mixins/titleBanner.jade' import titleBannerFull

div.row.text-center.collapse
    div.column.small-12
        div.spacer-xs
        div.row.uncollapse
            div.column.small-11.small-centered
                div.row.double-gutter
                    div.column.small-12.text-left
                        a(href="/").pull-left.text-md.clearfix
                            div.pad-r.valign-top
                                div#logo(style="background-image: url('/resources/images/svg/diving-mask.svg')")
                            div.pad-r.valign-top
                                div.spacer-xs
                                h1.text-md.text-thin Underwater Rugby Tourist

        div.spacer-sm

        div.row.collapse.bg-blue.text-white
            div.column.small-11.small-centered
                div.row.uncollapse
                    div.column.small-12
                        div.row.double-gutter
                            div.column.small-12
                                ul#nav-items.text-xxxs
                                    each route in pages
                                        - set isCurrent = request.path == route.url
                                        - set className = "current-route" if isCurrent else ""
                                        li.pull-left(class=className)
                                            a.pad-lr-2x.pad-tb(
                                                href=route.url
                                            )
                                                div.spacer-xxs
                                                div=route.title
                                                div.spacer-xxs