div.column.small-12
    div.spacer-xs
    ul.text-xxxs
        {% for route in pages %}
        li.show
            {% set navClass = 'text-hover-gray-md-dark' %}
            a.pad(
                href=route.url
                class=navClass
            )
                div.spacer-xxs
                div=route.title
                div.spacer-xxs
        {% endfor %}
    div.spacer-xs