div.column.small-12
    div.spacer-xs
    ul.text-xxxs
        {% for key, val in pages|dictsort(false, "value") %}
        li.show
            {% set navClass = 'text-hover-gray-md-dark' %}
            a.pad(
                href=val.link
                class=navClass
            )
                div.spacer-xxs
                div= val.title
                div.spacer-xxs
        {% endfor %}