{% extends "layout.jade" %}

{% block css%}
{% endblock %}

{% block javascript %}
script(src="/node_modules/lodash/index.js")
script(src="/node_modules/jquery/dist/jquery.min.js")
script(src="/node_modules/angular/angular.js")
script(src="/resources/js/controllers/addTeam.js")
{% endblock %}

{% block body %}
div.row.uncollapse
    div.column.small-12
        form(
            ng-app="ControllerAddTeam"
            ng-controller="ControllerAddTeam"
            ng-cloak
            novalidate
        )
            div.row.collapse
                div.column.small-11.small-centered
                    div.row
                        div.column.small-12
                            div.spacer-xs
                            div.text-xxs
                                span.text-xbold Bold&nbsp;
                                span fields are required
                            div.spacer-sm

            include pages/add-team/basic-info

            include pages/add-team/links

            include pages/add-team/contacts

            include pages/add-team/practices/index

            div.spacer-xl
            div.spacer-md
            div.row
                div.column.small-4.small-centered.text-center
                    button.text-white.pad-tb.width-full.text-sm.bg-green(
                        type="submit"
                    )
                        span Submit Team Info&nbsp;&nbsp;
                        i.fa.fa-chevron-right

            div.spacer-lg

{% endblock %}