{% extends "layout.jade" %}

{% block javascript %}
script
    window.team = {{ team }};
{% endblock %}

{% block body %}
div.row.uncollapse
    div.column.small-12
        form(
            ng-app="ControllerAddTeam"
            ng-controller="ControllerAddTeam"
            ng-cloak
            novalidate
        )
            div.row.collapse
                div.column.small-11.small-centered
                    div.row
                        div.column.small-12
                            div.spacer-xs
                            div.text-xxs
                                span.text-xbold Bold&nbsp;
                                span fields are required
                            div.spacer-lg

            include pages/add-team/basic-info

            include pages/add-team/links

            include pages/add-team/contacts

            include pages/add-team/practices/index

            div.spacer-xl
            div.spacer-xl
            div.row
                div.column.small-11.small-centered
                    div.row.uncollapse
                        div.column.small-5.small-offset-2
                            button.pad-tb.width-full.text-sm.btn-green(
                                type="submit"
                            )
                                div.pull-left Submit Team Info
                                i.pull-right.fa.fa-chevron-right

            div.spacer-xl
            div.spacer-xl

{% endblock %}