- from './mixins/mainColumn.jade' import mainColumn

{% extends "layout.jade" %}

{% block javascript %}
script
    window.team = {{ team or {} }};
script(src="http://maps.googleapis.com/maps/api/js?libraries=places")
script(src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.6.5/jquery.geocomplete.js")
script
    $(function () {
        var eventName = "geocode:result";
        $('[ng-model="form.location.val"]')
        .geocomplete()
        .bind(eventName, function(event, result) {
            $(document).trigger(eventName, result);
        });
    });

{% endblock %}

{% block body %}

div.spacer-lg

div.row.uncollapse
    div.column.small-12
        form(
            ng-app="ControllerAddTeam"
            ng-controller="ControllerAddTeam"
            ng-cloak
            novalidate
            ng-submit="submit()"
        )
            div.row.double-gutter
                div.column.small-12
                    div.spacer-xs
                    div.text-xxs
                        span.text-xbold Bold&nbsp;
                        span fields are required
                    div.spacer-lg

            include pages/add-team/basic-info
            div.spacer-xl
            include pages/add-team/contacts
            div.spacer-xl
            include pages/add-team/practices/index
            div.spacer-xl
            include pages/add-team/links

            div.spacer-xl
            div.spacer-xl
            div.row.double-gutter
                div.column.small-12
                    div.row.uncollapse
                        div.column.small-10.small-offset-2
                            button.pad-tb.text-sm.btn-green.pressable.text-sm(
                                type="submit"
                            )
                                span Submit Team Info
                                span &nbsp;&nbsp;&nbsp;&nbsp;
                                i.pull-right.fa.fa-chevron-right

            div.spacer-xl
            div.spacer-xl

{% endblock %}
