- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn
- from './mixins/squareCounter.jade' import squareCounter

+titleBanner(12)
    div.text-sm Links

+mainColumn()
    div.spacer-xl
    div.row
        div.column.small-12
            div.row.uncollapse(ng-repeat="(index, urlInput) in form.links.all")
                div.column.small-2.text-right
                    div.spacer-xs
                    div.spacer-1
                    div.text-xbold.text-xxs URL

                div.column.small-6
                    div.row.collapse
                        div.column.small-12
                            input.input-height.text-xxs(
                                type="text"
                                name="link"
                                ng-model="urlInput.val"
                            )

                div.column.small-1.text-left(
                    ng-click="form.links.remove(index)"
                )
                    div.spacer-xxs
                    div.text-xs
                        i.fa.fa-times.text-gray-md.text-hover-red

                div.column.small-12
                    div.spacer-lg

            div.row.uncollapse(ng-if="form.links.all.length < 3")
                div.column.small-10.small-offset-2
                    div.row.collapse
                        div.column.small-4
                            div.btn-blue.pressable.text-xxs(ng-click="form.links.create()")
                                div.input-height
                                    div.pull-left
                                        div.spacer-xs
                                        div.spacer-1
                                        div Add New Link
                                    div.pull-right
                                        div.spacer-xs
                                        div
                                            i.fa.fa-plus


    div.spacer-xl
