- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn
- from './mixins/squareCounter.jade' import squareCounter
- from './pages/add-team/mixins.jade' import textInput, label

+titleBanner(12)
    div.text-sm Links

+mainColumn()
    div.spacer-xl
    div.row
        div.column.small-12
            div.row.uncollapse(
                id="[[ 'url' + index ]]"
                ng-repeat="(index, urlInput) in form.links.all"
            )
                div.column.small-2.text-right
                    +label("URL", "[[ 'urlInput.val' + index ]]")

                div.column.small-8
                    div.row.collapse
                        div.column.small-12
                            +textInput("urlInput.val", "[[ 'urlInput.val' + index ]]")

                div.column.small-1.text-left(
                    ng-click="form.links.remove(index)"
                )
                    div.spacer-xxs
                    div.text-xs
                        i.fa.fa-times.text-gray-md.text-hover-red

                div.column.small-12
                    div.spacer-lg

            div.row.uncollapse(ng-if="form.links.all.length < 3")
                div.column.small-10.small-offset-2
                    div.btn-blue.pressable.text-xs(ng-click="form.links.create()")
                        div.input-height
                            div.spacer-xs
                            div.spacer-1
                            div
                                span Add Link
                                span &nbsp;&nbsp;&nbsp;&nbsp;
                                i.fa.fa-plus