form {
    position: relative;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    line-height: 1.2;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    line-height: 1;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height: 1;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    line-height: 1;
}

input:focus {
    box-shadow: inset 0 0 5px 1px rgba(81, 203, 238, 1);
}

input[type=radio] {
    display: none;
}

select,
textarea,
[type=text],
[type=email] {
    height: 2em;
    outline: none;
    margin: 0;
    padding: 5px 10px;
    color: inherit;
    background-color: #fff;
    overflow: hidden;

    width: 100%;
    max-width: 100%;

    // border-radius: 0;
    // -webkit-appearance: none;

    -webkit-transition: background-color 0.30s ease-in-out;
    -moz-transition: background-color 0.30s ease-in-out;
    -ms-transition: background-color 0.30s ease-in-out;
    -o-transition: background-color 0.30s ease-in-out;

    border: 1px solid map-get($border-colors, gray-dark);
}

textarea {
    padding: 8px 10px;
}

.input-height {
    height: 2em;
}

.input-invis {
    background: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}