@import "reset";
@import "media-query";
@import "layout/init";
@import "style/init";
@import "text/init";
@import "forms";
@import "tables";

a,
label,
[ng-click],
[type="submit"],
.clickable {
    cursor: pointer;
}

.unselectable {
    &::selection {
    white-space: nowrap;
    overflow: hidden;
    }

    *::selection {
    white-space: nowrap;
    overflow: hidden;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}