$pad: 0.5em;
$dirs: (
    "t": "top",
    "r": "right",
    "b": "bottom",
    "l": "left"
);

%pad {
    display: inline-block;
}

@each $key, $val in $dirs {
    .pad-#{$key} {
        padding-#{$val}: $pad;
        @extend %pad;
    }

    .pad-#{$key}-double {
        padding-#{$val}: $pad * 2;
        @extend %pad;
    }
}

.pad-tb {
    @extend .pad-t;
    @extend .pad-b;
}

.pad-lr {
    @extend .pad-l;
    @extend .pad-r;
}

.pad {
    @extend .pad-lr;
    @extend .pad-tb;
}

.pad-tb-double {
    @extend .pad-t-double;
    @extend .pad-b-double;
}

.pad-lr-double {
    @extend .pad-l-double;
    @extend .pad-r-double;
}

.pad-double {
    @extend .pad-lr-double;
    @extend .pad-tb-double;
}