div.row
    div.column.small-10.small-offset-2
        div.row
            div.column.small-12(ng-click="practiceLocation.times.create()")
                div.btn-gray-dark.pressable.text-xxs
                    div.input-height
                        div.spacer-xs
                        div
                            span Add Practice Time to Location
                            span &nbsp;&nbsp;&nbsp;&nbsp;
                            i.fa.fa-plus
