div.spacer-md

div.row.uncollapse.text-center

    div.column.small-4.small-offset-2.left.text-white.round-md.bg-gray-md(ng-click="practiceLocation.times.create()")
        div.input-height.text-xxs.column.small-10.small-centered.text-left
            div.pull-left
                div.spacer-xs
                div.spacer-1
                div Add New Practice Time
            div.pull-right
                div.spacer-xs
                div
                    i.fa.fa-plus
