div.spacer-md

div.row
    div.column.small-10.small-offset-2
        div.row
            div.column.small-6(ng-click="practiceLocation.times.create()")
                div.btn-gray-dark.pressable.text-xxs
                    div.input-height
                        div.pull-left
                            div.spacer-xs
                            div.spacer-1
                            div Add Practice Time to Location
                        div.pull-right
                            div.spacer-xs
                            div
                                i.fa.fa-plus
