div.spacer-md

div.row.uncollapse.bg-white.round-md-bl.text-center

    div.column.small-1.small-offset-3.bg-gray-dark.round-md-left.border-gray-dark(ng-click="practiceLocation.times.create()")
        div.input-height.text-white.text-xxs
            div.spacer-xs
            div.spacer-1
            div
                i.fa.fa-plus
    div.column.small-5.left.border-green.border-none-l.bg-blue.text-white.round-md-right(ng-click="practiceLocation.times.create()")
        div.text-xxs.input-height.pad
            span Add New Practice Time


