div.row.collapse
    div.column.small-3
        div.text-center.border-gray-dark
            div.bg-gray-dark.input-height.text-white.text-xxs
                div.spacer-xs
                div.spacer-1
                div.text-xbold Day
    div.column.small-9.left
        div.text-xxs.border-gray-dark
            select.text-xxs.input-invis.input-height(
                name="[[index + 'day']]"
                ng-model="time.day"
                tabindex="5"
            )
                option(ng-repeat="day in form.practiceLocations.dayOptions") [[ day ]]