- from './pages/add-team/mixins.jade' import textInput, label

- set model = "time.day"
- set uid = "[[ '" + model + "' + locIndex + timeIndex ]]"

div.row
    div.column.small-3
        +label("Day", uid)

    div.column.small-9
        div.text-xxs(style="margin-right: 1px;")
            select.text-xxs.input-height.border-gray-dark(
                id=uid
                ng-model=model
            )
                option(ng-repeat="day in form.practiceLocations.dayOptions") [[ day ]]