div.row
    div.column.small-3
        div.text-right.input-height.text-xxs
            div.spacer-xs
            div.spacer-1
            div Day

    div.column.small-8
        div.text-xxs(style="margin-right: 1px;")
            select.text-xxs.input-height.border-gray-dark(
                name="[[index + 'day']]"
                ng-model="time.day"
            )
                option(ng-repeat="day in form.practiceLocations.dayOptions") [[ day ]]