- from './pages/add-team/mixins.jade' import textInput, label

- set model = "time.endTime"
- set uid = "[[ '" + model + "' + locIndex + timeIndex ]]"

div.row
    div.column.small-4
        +label("End", uid)

    div.column.small-6
        +textInput(model, uid)