label.row(for="[['time-end' + index]]")
    div.column.small-4
        div.text-right.input-height.text-xxs
            div.spacer-xs
            div.spacer-1
            div End

    div.column.small-6
        input.text-xxs.input-height.border-gray-dark(
            id="[['time-end' + index]]"
            type="text"
            name="contact"
            ng-model="time.endTime"
        )