div.row.collapse
    div.column.small-4
        div.text-center.border-gray-dark
            div.bg-gray-dark.input-height.text-white.text-xxs
                div.spacer-xs
                div.spacer-1
                div.text-xbold End
    div.column.small-7.left
        div.border-gray-dark
            div.text-xxs.input-height
                input.pad.input-invis(
                    type="text"
                    name="contact"
                    tabindex="5"
                    ng-model="time.endTime"
                )