- from './mixins/squareCounter.jade' import squareCounter

div.row.collapse.border-gray-dark-bottom.bg-white.round-md-bl
    div.column.small-10.small-offset-2
        div(
            ng-repeat="(index, time) in practiceLocation.times.all"
        )
            div.row.collapse

                div.column.small-11
                    div.row.collapse

                        div.column.small-4
                            include pages/add-team/practices/times/start

                        div.column.small-4
                            include pages/add-team/practices/times/end

                        div.column.small-4
                            include pages/add-team/practices/times/day-of-week

                div.column.small-1.bg-red.round-md-right(
                    ng-click="practiceLocation.times.remove(index)"
                )
                    div.text-xxs.text-center
                        div.spacer-xs
                        div
                            i.fa.fa-times.text-white
                        div.spacer-xs

            div.spacer-md

include pages/add-team/practices/times/add-new-time
