label.row.collapse(for="[['time-start' + index]]")
    div.column.small-4
        div.text-center.bg-gray-md.input-height.text-white.text-xxs
            div.spacer-xs
            div.spacer-1
            div Start
    div.column.small-7.left
        input.text-xxs.input-height.border-gray-md(
            id="[['time-start' + index]]"
            type="text"
            name="contact"
            ng-model="time.startTime"
        )