- from './pages/add-team/mixins.jade' import textInput, label

- set model = "time.startTime"
- set uid = "[[ '" + model + "' + locIndex + timeIndex ]]"

div.row
    div.column.small-6
        +label("Start Time", uid)

    div.column.small-6
        +textInput(model, uid)