div.row.text-center.collapse
    div.column.small-12
        div.spacer-lg
        div
            a(href="/").text-md.text-hover-gray-md-dark.pad-lr Underwater Rugby Tourist
        div.spacer-sm
        div.text-xxxs Find the closest team to you!

        div.spacer-sm
        div.spacer-1.bg-gray-dark

    div.column.small-12
        ul.text-xxxs
            - var pages = [{'about': '/about'}, {'teams': '/teams'}, {'add team': '/add-team'}];
            each val, index in pages
                li.pad
                    div.spacer-xs
                    div
                        a(href="{{pages[index][val]}}").text-hover-gray-md-dark= val
                    div.spacer-xs
