mixin squareCounter (text, bgClass)
    div.right.round-md-bl(class='border-#{bgClass}')
        div.text-xxs.input-height.input-width.text-white.text-center(class='bg-#{bgClass}')
            div.spacer-xs
            div= text