mixin titleBanner (text)
    div.row.collapse.bg-gray-light
        div.column.small-11.small-centered
            div.row
                div.column.small-12
                    div.spacer-xs
                    div.text-sm {{text}}
                    div.spacer-xs