mixin titleBanner (width)
    div.row.double-gutter.bg-gray-light
        div.column.small-centered(class="small-#{width}")
            div.row.collapse
                div.column.small-12
                    div.spacer-xs
                    block

                    div.spacer-xs

mixin titleBannerFull (bgClass)
    div.row.uncollapse
        div.column.small-12
            div.row.double-gutter(class="#{bgClass}")
                div.column.small-12
                    block
