{% extends "layout.jade" %}
{% block body %}
div Underwater rugby is a fun, fast-paced breath hold sport that is played with mask, snorkel, fins, a negatively bouyant ball, and 2 baskets, one at either end of a 6-10 foot deep section of pool.
{% endblock %}
