{% extends "layout.jade" %}
{% block body %}
div.spacer-sm
div.row
    div.column.small-11.small-centered
        div.text-xs
            p.text-thin Underwater rugby is a fun, fast-paced breath hold sport that is played with mask, snorkel, fins, a negatively bouyant ball, and 2 baskets, one at either end of a 6-10 foot deep section of pool.
{% endblock %}
