- from './mixins/titleBanner.jade' import titleBanner

{% extends "layout.jade" %}
{% block body %}

div.spacer-lg
div.spacer-md

div.row.double-gutter
    div.column.small-12
        div.text-xs
            p
                span Use UWR Tourist to find an underwater rugby team near you and get playing. We'll meet you at the bottom!
        div.spacer-xl

        h2.text-sm What is Underwater Rugby?
        div.spacer-md
        div.text-xxs
            p Underwater rugby is a fun, fast-paced breath hold sport that is played with mask, snorkel, fins, a negatively bouyant ball, and 2 baskets, one at either end of a 6-10 foot deep section of pool. It's kind of a fun mix of free diving, polo and wrestling, but played entirely underwater!
        div.spacer-xl

        h2.text-sm What do I need to play?
        div.spacer-md
        div.text-xxs
            h3.text-xs As an Individual
            div.spacer-xs

            div
                p ─ Water Polo Cap
            div
                p ─ Snorkel
            div
                p ─ Snorkeling Mask
            div
                p ─ Solid Fins (no holes)
            div
                p &nbsp;&nbsp;&nbsp;&nbsp;└ Fins with holes are notorious for catching the fingers and toes of others. Watch out!

            div.spacer-md

            p If you lack the equipment listed above, try asking the team that you'll be playing with if they have a spare of what you need.
            p Some teams have a communal, donation-based collection of spare equipment.

            div.spacer-md

            h3.text-xs As a Team
            div.spacer-xs

            div
                p ─  One Negatively-Bouyant Ball

            div
                p ─ Two Baskets/Goals

        div.spacer-xl

        h2.text-sm CMAS
        div.spacer-md
        div.text-xxs
            div
                p Short for "Confédération Mondiale des Activités Subaquatiques", CMAS is the highest governing body of UWR and other fun underwater sports as well. They organize championships around the world.

            div.spacer-md
            div
                a.pad.bg-blue.bg-hover-gray-md-dark(href="http://www.cmas.org/underwater-rugby")
                    span.text-white Go to the CMAS website
div.spacer-xl
{% endblock %}