{% extends "layout.jade" %}

{% block css%}
link(
    href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css',
    rel='stylesheet'
)
{% endblock %}

{% block body %}
div.spacer-xs
div.row.double-gutter
    div.column.small-12
        div.row.uncollapse
            div.column.small-12
                div#map
{% endblock %}
