- from  './mixins/titleBanner.jade' import titleBanner

{% extends "layout.jade" %}

{% block javascript %}
script(src="/node_modules/lodash/index.js")
script(src="/node_modules/jquery/dist/jquery.min.js")
script(src="/node_modules/angular/angular.min.js")
{% endblock %}

{% block body %}

+titleBanner("Links")

div.text-xs
    {% for link in team.links %}
    div.spacer-xxs
    div {{link.link}}
    {% endfor %}

div.spacer-xs
div= team.links
{% endblock %}
